@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    background: #030102;
  }
}
body{
  background: #030102;
  font-family: 'Poppins', sans-serif;
}
.garis-gradient{
  position: relative;
    display: inline-flex;
    align-items: center;
    /* padding: 2px 8px; */
    background: none;
    /* border-radius: 10px; */
    color: #EB4692;
    /* font-size: 10px; */
    /* font-weight: 500; */
    
    /* line-height: 13px; */
    --size: .5px;
    /* --gradient: linear-gradient(to bottom right,rgba(5,45,255,.6),rgba(62,243,255,.6)); */
    --gradient: linear-gradient(99.84deg, #EA4889 -7.33%, #EC38CF 113.19%);
}
.garis-bolder{
  --size: 1px;
}
.garis-gradient::before{
    position: absolute;
    padding: var(--size);
    background: var(--gradient);
    border-radius: inherit;
    content: "";
    inset: 0;
    -webkit-mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000);
    mask: linear-gradient(#000,#000) content-box,linear-gradient(#000,#000);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}
.text-notif{
  padding: 2px 8px;
  font-size: 8px;
  line-height: 135%;
  letter-spacing: -0.02em;
}
.container{
  max-width: 1227px;
}

h1{
  font-size: 80px;
  line-height: 125%;
  letter-spacing: -0.02em;
}
h2{
  font-size: 64px;
  line-height: 115%;
  letter-spacing: -0.02em;
}
h3{
  font-size: 56px;
  line-height: 115%;
  letter-spacing: -0.02em;
}
h4{
  font-size: 32px;
  line-height: 140%;
  letter-spacing: -0.02em;
}

.body-1{
  font-size: 16px;
  line-height: 180%;
  letter-spacing: -0.02em;
}
.body-2{
  font-size: 14px;
  line-height: 135%;
}
.body-3{
  font-size: 12px;
  line-height: 125%;
}

.capt-1{
  letter-spacing: 0.6em;
}

section.header .body-1{
  max-width: 600px;
}
section.slide h4{
  line-height: 125%;
  letter-spacing: 0.3em;
}
section.slide p{
  letter-spacing: -0.04em;
}
.swiper{
  width: auto;
  height: auto;
  overflow: visible;
}
.swiper-slide{
  width: max-content;
}
section.invest p{
  max-width: 871px;
}
.keypoint-box{
  padding: 75px;
}